<tr>
	<td class="club">
      <%= gravatar_for_club club, :size => 30 %>
      <%= link_to club.name, club %><br/>
	  <span class="descr"><%= Faker::Lorem.sentence(5) %></span>
	 </td>
</tr>


