<h1>RedKay - Online sport event management</h1>
<hr></br>
<div>Welcome to RedKay, the online sport event management system. From here you can organise your club, or sport event, be it marathons, 
track races, or any other type of sport event that requires registration. Once you have signed your club up, you can allow users to join your club,
 creating an online membership list. You can also create events which can have an amount of custom fields that users will be required to fill out when registring for an event.
</div> 



